*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* background-color: gainsboro; */
}
.container{
    margin: 20px auto;
    max-width: 700px;
}
.container .heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.container .accordion-container{
    padding: 0 20px;
}
.container .accordion-container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}
.container .accordion-container .accordion.active .accordion-heading{
    background-color: brown;
}
.container .accordion-container .accordion.active .accordion-heading h3{
    color: whitesmoke;
}
.container .accordion-container .accordion.active .accordion-heading i{
    color: whitesmoke;
    transform: rotate(180deg);
    transition: transform .2s .1s;
}
.container .accordion-container .accordion.active .accordion-content{
    display: block;
}
.container .accordion-container .accordion .accordion-heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   background-color: whitesmoke;
   border: 2px solid blanchedalmond;
   padding: 15px 15px;
}
.container .accordion-container .accordion .accordion-heading h3{
    font-size: 20px;
}
.container .accordion-container .accordion .accordion-heading i{
    font-size: 25px;
}
.container .accordion-container .accordion .accordion-content{
    padding: 15px 20px;
    border: 1px solid blanchedalmond;
    background-color: whitesmoke;
    border-top: 0;
    display: none;
    animation: animate .2s linear backwards;
    transform-origin: top;
    line-height: 2;
}
@keyframes animate{
    0%{
        transform: scaleY(0);
    }
}